@model IEnumerable<FSAWebSystem.Models.Proposal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<script src="~/js/Proposal/dataTableProposal.js"></script>



<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">Propose FSA</h1>
</div>
<div class="text-danger">

		<ul id="error-messages">

		</ul>
</div>
<div class="card shadow mb-4 pt-4 pl-2 pb-4">
    <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary d-inline">Proposals</h5>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableProposal" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                        <th>Banner</th>
                        <th>Plant Name</th>
                        <th>PC Map</th>
                        <th>Description Map</th>
                        <th>RR</th>
                        <th style="width:6%">Monthly Bucket</th>
                        <th style="width:6%">Current Bucket</th>
                        <th style="width:6%">Next Week Bucket</th>
                        <th style="width:6%">Valid + BJ</th>
                        <th style="width:6%">REM FSA</th>
                        <th style="width:10%">Rephase</th>
                        <th style="width:10%">Propose Additional</th>
                        <th style="width:10%">Remark</th>
                        <th class="hide_column">WeeklyId</th>
                        <th class="hide_column">Id</th>
                        <th class="hide_column">ApprovalId</th>
                        
                    </tr>
                </thead>
            </table>
        </div>
         <div class="row mt-5">
        
  
        <button class="btn btn-primary" data-toggle="modal" data-target="#submitProposalModal">Submit</button>
        
    </div>
    </div>
</div>


<div class="card shadow mb-4 pt-4 pl-2 pb-4">
    	<div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary d-inline">Proposal History</h5>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableProposalHistory" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Submit Date</th>
                        <th>Banner Name</th>
                        <th>Plant Name</th>
                        <th>PC Map</th>
                        <th>Description Map</th>
                        <th>Rephase</th>
                        <th>Approved Rephase</th>
                        <th>Propose Additional</th>
                        <th>Approved Propose Additional</th>
                        <th>Remark</th>
                        <th>Approval Status</th>
                        <th>Approved By</th>
                        <th>Rejection Status</th>
                    </tr>
                </thead>
            </table>
            </div>
            </div>
            </div>



	<div class="modal fade" id="submitProposalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Submit Proposal?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Are you sure want to Submit Proposal?</div>
				<div class="modal-footer">
					@*<form class="form-inline" asp-area="" asp-page="/Proposals/SaveProposal" asp-route-returnUrl="" method="post">*@
						<button type="submit" class="btn btn-primary" id="submitProposalBtn" data-dismiss="modal">Submit</button>
					@*</form>*@

				</div>
			</div>
		</div>
	</div>



