

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FSAWebSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FSAWebSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<link href="~/css/sb-admin-2.css" rel="stylesheet">
	<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

	<link rel="stylesheet" href="~/css/bootstrap-multiselect.css" type="text/css">
	<link rel="	"
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
</head>

<body id="page-top">
	<div id="wrapper">
		@if (User.Identity.IsAuthenticated)
		{
			<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#1f36c7">
				<a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
					<div class="sidebar-brand-icon rotate-n-15">
						@*<i class="fas fa-laugh-wink"></i>*@
					</div>
					<div class="sidebar-brand-text mx-3"><h2 class="font-weight-bolder">FSA WEB</h2></div>
				</a>

				<hr class="sidebar-divider my-0" />

				<!-- Nav Item - Dashboard -->
			<li class="nav-item active ">
					<a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Index">
						<h5 class="font-weight-bold">DASHBOARD</h5>
					</a>
				</li>
				<hr class="sidebar-divider"> </hr>

				<!-- Heading -->
				<!-- Nav Item - Dashboard -->
			<li class="nav-item active ">
					<a class="nav-link text-center" asp-area="" asp-controller="Home" asp-action="Privacy">
						<h5 class="font-weight-bold">REPORT</h5>
					</a>
				</li>

				<hr class="sidebar-divider"> </hr>

				<li class="nav-item active">
					<a class="nav-link text-center" asp-area="" asp-controller="Proposals" asp-action="Index">
						<h5 class="font-weight-bold">PROPOSAL</h5>
					</a>
				</li>

				<hr class="sidebar-divider"> </hr>

				<li class="nav-item active">
					<a class="nav-link text-center" asp-area="" asp-controller="Admin" asp-action="Index">
						<h5 class="font-weight-bold">APPROVAL</h5>
					</a>
				</li>

				<hr class="sidebar-divider"> </hr>

				<li class="nav-item active">
					<a class="nav-link text-center" asp-area="" asp-controller="Admin" asp-action="Index">
						<h5 class="font-weight-bold">ADMIN</h5>
					</a>
				</li>
				<hr class="sidebar-divider"> </hr>
			</ul>
		}



		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
							</a>
							<!-- Dropdown - User Information -->
							<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#">
									<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
									Profile
								</a>
								<a class="dropdown-item" href="#">
									<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
									Settings
								</a>
								<a class="dropdown-item" href="#">
									<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
									Activity Log
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
									<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Logout
								</a>
							</div>
						</li>
					</ul>
				</nav>
				<div class="container-fluid">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
						<button type="submit" class="btn btn-primary">Logout</button>
					</form>

				</div>
			</div>
		</div>
	</div>




	<script src="~/vendor/jquery/jquery.min.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="~/js/sb-admin-2.min.js"></script>
	<script src="~/js/bootstrap-multiselect.js"></script>
	<script src="~/js/bootstrap-multiselect.min.js"></script>

	<!-- Page level plugins -->
	<!-- Page level plugins -->
	<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="~/js/Admin/dataTables.js"></script>
	<script src="~/js/Proposal/dataTable.js"></script>





	<!-- Page level custom scripts -->
	<script src="~/js/demo/datatables-demo.js"></script>
	@await Component.InvokeAsync("Notyf")
	@await RenderSectionAsync("Scripts", required: false)



</body>
</html>


