@{
    ViewData["Title"] = "Home Page";
}
@using static FSAWebSystem.Areas.Identity.Data.FSAWebSystemUser;
@{
	@model FSAWebSystem.Areas.Identity.Data.FSAWebSystemUser
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
