@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot password confirmation";
}
<body class="bg-gradient-primary">
	<div class="container py-5">
		<h1>@ViewData["Title"]</h1>
		<div class="row justify-content-center">
			<p>
				Please check your email to reset your password.
			</p>
			<a href="~/Identity/Account/Login" style="display:inline-block; float:left">Back to Login</a>
		</div>
	</div>
</body>