@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot Password?";
}
<body class="bg-gradient-primary">

	<div class="container">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-sm-12 col-md-6">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-12">
								<div class="p-5">
									<div class="text-center">
										<div class="col-6 offset-3 h-100">
											<img src="~/assets/unileverlogo.svg" class="img-fluid h-100">
										</div>


										<h1 class="h4 text-gray-900 mb-4">FSA SYSTEM</h1>
										<h5 class="h4 text-gray-900 mb-4">Forgot Password?</h5>
									</div>
									<form class="user" method="post">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>

										<div class="form-group">
											<label asp-for="Input.Email" class="form-label"></label>
											<div class="input-group mb-3">
												<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
												<div class="input-group-append">
													<div class="input-group-text">
														<span class="fas fa-envelope"></span>
													</div>
												</div>
											</div>
											<span asp-validation-for="Input.Email" class="text-danger"></span>
										</div>
										<button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
									</form>
									<hr />
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
