@model FSAWebSystem.Models.ApprovalDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ApprovalDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApprovalId" class="control-label"></label>
                <input asp-for="ApprovalId" class="form-control" />
                <span asp-validation-for="ApprovalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BannerId" class="control-label"></label>
                <input asp-for="BannerId" class="form-control" />
                <span asp-validation-for="BannerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKUId" class="control-label"></label>
                <input asp-for="SKUId" class="form-control" />
                <span asp-validation-for="SKUId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyBucket" class="control-label"></label>
                <input asp-for="MonthlyBucket" class="form-control" />
                <span asp-validation-for="MonthlyBucket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBucket" class="control-label"></label>
                <input asp-for="CurrentBucket" class="form-control" />
                <span asp-validation-for="CurrentBucket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextWeekBucket" class="control-label"></label>
                <input asp-for="NextWeekBucket" class="form-control" />
                <span asp-validation-for="NextWeekBucket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidBJ" class="control-label"></label>
                <input asp-for="ValidBJ" class="form-control" />
                <span asp-validation-for="ValidBJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemFSA" class="control-label"></label>
                <input asp-for="RemFSA" class="form-control" />
                <span asp-validation-for="RemFSA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

