@model IEnumerable<FSAWebSystem.Models.Approval>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/Approval/dataTableApproval.js"></script>
<h1>Approval</h1>


<div class="card shadow mb-4 pt-4 pl-2">
  <div class="card-header py-3">
    <h5 class="m-0 font-weight-bold text-primary d-inline">Approval</h5>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTableApproval" width="100%" cellspacing="0">
        <thead>
          <tr class="text-center">
            <th rowspan="2" class="align-middle">Submit Date</th>
            <th colspan="2" class="align-middle">Status Approval</th>
            <th rowspan="2" class="align-middle">Banner</th>
            <th rowspan="2" class="align-middle">PC Map</th>
            <th rowspan="2" class="align-middle">Description</th>
            <th rowspan="2" class="align-middle">Propose Additional FSA</th>
            <th rowspan="2" class="align-middle">Rephase</th>
            </tr>
            <tr>
                <th>Level 1</th>
                <th>Level 2</th>
            </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
